
  body {
    font-size: 14px;
    height: 100%;
  }

  .v201_25891 {
    width: 813px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 270px;
    left: 960px;
    font-family: El Messiri;
    font-weight: normal;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v201_2578 {
    width: 100%;
    height: 3447px;
    background: rgba(246,242,238,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v201_2580 {
    width: 138px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 38px;
    left: 1622px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
 
  .v201_2589 {
    width: 820px;
    color: rgba(34,34,34,1);
    position: absolute;
    top: 230px;
    left: 960px;
    font-family: El Messiri;
    font-weight: Regular;
    opacity: 100;
    text-align: left;
  }
  .v201_2590 {
    width: 813px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 360px;
    left: 960px;
    font-family: El Messiri;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v201_2591 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 468px;
    left: 960px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2592 {
    width: 144px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 570px;
    left: 960px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2593 {
    width: 144px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 680px;
    left: 960px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2594 {
    width: 210px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 985px;
    left: 970px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2595 {
    width: 290px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1045px;
    left: 970px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2596 {
    width: 144px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1105px;
    left: 970px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2597 {
    width: 364px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1165px;
    left: 970px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2598 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 660px;
    left: 1180px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2599 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 568px;
    left: 1130px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2600 {
    width: 104px;
    color: rgba(126,84,55,1);
    position: absolute;
    top: 755px;
    left: 1136px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v201_2601 {
    width: 110px;
    color: rgba(125,83,53,1);
    position: absolute;
    top: 755px;
    left: 1270px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v201_2602 {
    width: 110px;
    color: rgba(125,83,53,1);
    position: absolute;
    top: 755px;
    left: 1410px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v201_2603 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 568px;
    left: 1197px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2604 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 568px;
    left: 1264px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2605 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 568px;
    left: 1331px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2606 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 568px;
    left: 1398px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2607 {
    width: 50px;
    color: rgba(125,83,53,1);
    position: absolute;
    top: 652px;
    left: 1130px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v201_2608 {
    width: 50px;
    color: rgba(125,83,53,1);
    position: absolute;
    top: 659px;
    left: 1255px;
    font-family: Inter;
    font-weight: Extra Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2609 {
    width: 813px;
    color: rgba(55,55,55,1);
    position: absolute;
    top: 420px;
    left: 960px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2610 {
    width: 380px;
    height: 60px;
    background: url("../images/v201_2610.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 855px;
    left: 960px;
    border: 1px solid rgba(190,155,131,1);
    overflow: hidden;
  }
  .v201_2611 {
    width: 380px;
    height: 60px;
    background: url("../images/v201_2611.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 855px;
    left: 960px;
    border: 1px solid rgba(126,84,55,1);
    overflow: hidden;
  }
  .v201_2612 {
    width: 380px;
    height: 60px;
    background: rgba(190,155,131,1);
    opacity: 1;
    position: absolute;
    top: 855px;
    left: 1370px;
    border: 1px solid rgba(126,83,54,1);
    overflow: hidden;
  }
  .v201_2613 {
    width: 380px;
    color: rgba(190,155,131,1);
    position: absolute;
    top: 870px;
    left: 960px;
    font-family: Inter;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2614 {
    width: 380px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 870px;
    left: 1370px;
    font-family: Inter;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v201_2615 {
    width: 760px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 179px;
    left: 140px;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v201_2618 {
    width: 47px;
    height: 47px;
    background: url("../images/v201_2618.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 1130px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2619 {
    width: 104px;
    height: 47px;
    background: url("../images/v201_2619.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 744px;
    left: 1136px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2620 {
    width: 110px;
    height: 47px;
    background: url("../images/v201_2620.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 744px;
    left: 1270px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2621 {
    width: 110px;
    height: 47px;
    background: url("../images/v201_2621.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 744px;
    left: 1410px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2622 {
    width: 47px;
    height: 47px;
    background: url("../images/v201_2622.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 1197px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2623 {
    width: 47px;
    height: 47px;
    background: url("../images/v201_2623.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 1264px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2624 {
    width: 47px;
    height: 47px;
    background: url("../images/v201_2624.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 1331px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2625 {
    width: 47px;
    height: 47px;
    background: url("../images/v201_2625.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 1398px;
    border: 0.5px solid rgba(125,82,53,1);
    overflow: hidden;
  }
  .v201_2626 {
    width: 170px;
    height: 45px;
    background: url("../images/v201_2626.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 653px;
    left: 1130px;
    border: 0.5px solid rgba(125,83,53,1);
    overflow: hidden;
  }
 
  
  .v201_2635 {
    width: 150px;
    height: 40px;
    background: rgba(190,155,131,1);
    opacity: 1;
    position: absolute;
    top: 470px;
    left: 960px;
    overflow: hidden;
  }
  .v201_2636 {
    width: 150px;
    color: rgba(243,236,230,1);
    position: absolute;
    top: 478px;
    left: 960px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v201_2637 {
    width: 5px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 568px;
    left: 1083px;
    font-family: El Messiri;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2638 {
    width: 5px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 752px;
    left: 1083px;
    font-family: El Messiri;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v201_2639 {
    width: 760px;
    height: 989px;
    background: url(../IMGS/Accessories\ Watches\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 230px;
    left: 140px;
    overflow: hidden;
  }
  .v201_2644 {
    width: 640px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1326px;
    left: 640px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }
  .v211_2618 {
    width: 640px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2160px;
    left: 640px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v201_2687 {
    width: 372px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1995px;
    left: 563px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2797 {
    width: 372px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2854px;
    left: 563px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2800 {
    width: 372px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2854px;
    left: 985px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2801 {
    width: 372px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2854px;
    left: 1408px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2799 {
    width: 373px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2854px;
    left: 140px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2802 {
    width: 179px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2900px;
    left: 1408px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2806 {
    width: 183px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2052px;
    left: 1408px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2803 {
    width: 145px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2900px;
    left: 140px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2807 {
    width: 125px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2052px;
    left: 140px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2804 {
    width: 152px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2900px;
    left: 563px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2808 {
    width: 112px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2052px;
    left: 563px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2805 {
    width: 165px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2900px;
    left: 985px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2809 {
    width: 187px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2052px;
    left: 985px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2762 {
    width: 372px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1994px;
    left: 1408px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2763 {
    width: 372px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1995px;
    left: 985px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2688 {
    width: 373px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1995px;
    left: 140px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v201_2744 {
    width: 373px;
    height: 485px;
    background: url(../IMGS/Finery\ Modern\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1500px;
    left: 140px;
    overflow: hidden;
  }
  .v201_2756 {
    width: 373px;
    height: 485px;
    background: url(../IMGS/Ties\ 3_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1500px;
    left: 985px;
    overflow: hidden;
  }
  .v201_2758 {
    width: 372px;
    height: 485px;
    background: url(../IMGS/Feather\ Accessory.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1500px;
    left: 563px;
    overflow: hidden;
  }
  .v201_2760 {
    width: 372px;
    height: 485px;
    background: url(../IMGS/Ring\ Accessory.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1500px;
    left: 1408px;
    overflow: hidden;
  }
  .v201_2767 {
    width: 94px;
    height: 110px;
    background: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1060px;
    left: 302px;
    overflow: hidden;
  }
  .v201_2769 {
    width: 94px;
    height: 110px;
    background: url(../IMGS/Accessories\ Watches\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1060px;
    left: 530px;
    overflow: hidden;
  }
  .v201_2771 {
    width: 94px;
    height: 110px;
    background: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1060px;
    left: 644px;
    overflow: hidden;
  }
  .v201_2773 {
    width: 94px;
    height: 110px;
    background: url(../IMGS/Accessories\ Watches\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1060px;
    left: 416px;
    overflow: hidden;
  }
  .v201_2616 {
    width: 640px;
    height: 6px;
    background: rgba(235,224,215,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }
  .v201_2617 {
    width: 138px;
    height: 6px;
    background: rgba(190,155,131,1);
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }
  .v211_2619 {
    width: 372px;
    height: 530px;
    background: url(../IMGS/Finery\ On\ Sale\ Now\ 13.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2310px;
    left: 1408px;
    overflow: hidden;
  }
  .v211_2620 {
    width: 373px;
    height: 530px;
    background: url(../IMGS/Finery\ On\ Sale\ Now\ 12.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2310px;
    left: 985px;
    overflow: hidden;
  }
  .v211_2622 {
    width: 373px;
    height: 530px;
    background: url(../IMGS/Finery\ On\ Sale\ Now\ 10.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2310px;
    left: 140px;
    overflow: hidden;
  }
  .v201_2784 {
    width: 372px;
    height: 530px;
    background: url(../IMGS/Finery\ On\ Sale\ Now\ 11.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2310px;
    left: 563px;
    overflow: hidden;
  }
  .v211_2623 {
    width: 100%;
    height: 402px;
    background: rgba(233,223,214,1);
    opacity: 1;
    position: absolute;
    top: 3045px;
    left: 0px;
    overflow: hidden;
  }
  .v211_2624 {
    height: 267px;
    background: url("../images/v211_2624.png");
    opacity: 1;
    position: absolute;
    top: 3133px;
    left: 433px;
    border: 1px solid rgba(0,0,0,1);
  }
  .v211_2625 {
    width: 294px;
    height: 133px;
    background: url(../IMGS/Logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3166px;
    left: 81px;
    overflow: hidden;
  }
  .v211_2626 {
    width: 223px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3133px;
    left: 485px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2627 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3173px;
    left: 485px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2628 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3173px;
    left: 998px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2629 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3173px;
    left: 731px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2630 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3213px;
    left: 998px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2631 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3213px;
    left: 731px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2632 {
    width: 267px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3253px;
    left: 977px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2633 {
    width: 267px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3253px;
    left: 710px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2634 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3213px;
    left: 485px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2635 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3133px;
    left: 998px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2636 {
    width: 304px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3133px;
    left: 686px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v211_2637 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3134px;
    left: 1419px;
    font-family: El Messiri;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }

  *{
    --webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html{
    font-size:16px;
  }
  body{
    background: rgba(246,242,238,1);
    font-size:1rem;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: El Messiri;
  }
  /* Header */
  .region-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    
  }
  .fHeader {
    width: 100%;
    /* padding: 10px 80px 0; */
  }
  
  .fLogo {
    text-align: center;
    padding-top: 30px;
  }
  .fLogo img {
    max-width: 100%;
    max-height: 60px;
  }
  .fMenuContainer {
    border-bottom: 1px solid #60381E;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  @media (max-width:720px) {
    .fMenuContainer {
        border-bottom: none;
        height: auto;
    }
  }
  .fMenuContainer nav ul.fMenu{
    justify-content: center;
    
  }
  nav ul.fMenu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style:none;
  }
  .fMenu2 nav ul.fMenu{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .fMenu > li > a {
    font-size: 1.2rem;
    margin: 0 40px;
    position: relative !important;
    text-transform: none;
    background: #ffffff00;
    line-height: 1.2em;
    color: #000;
    text-decoration: none;
    font-family: El Messiri;
  }
  /* Toggle Menu */
  .fMenuContainer .navbar-toggle {
    display: block !important;
    padding: 9px 10px;
    background: none;
    position: relative;
    width: fit-content;
   }
   .fMenuContainer .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #000;
   }
   .fMenuContainer .navbar-toggle .icon-bar:not(:first-child){
    margin-top:4px;
   }
   .fMenuContainer .fModuleContent,
   .fMenuContainer .navbar-toggle-container{
    height:100%;
    text-align: -webkit-right;
   }
   .fMenuContainer nav.collapse.show {
    display: block !important;
    position: fixed;
    left:0;
    right:0;
    z-index:99;
    height: 100%;
    margin-left: 30px;
    /* padding-right: 20px; */
    /* top: 99px; */
    transition: 0.3s ease-in-out;
   }
   .fMenuContainer nav.collapse.show ul.fMenu{
    background:var(--brand-color-3);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    padding-right: 20px;
    opacity: 1;
   }
   .fMenuContainer nav.collapse.show ul.fMenu a{
    text-align: right;
    color:var(--brand-color-1-text);
    display: block;
   }
   .fMenuContainer nav.collapse.show ul.fMenu li{
    margin:8px 0;
    text-align: right;
   }
   .fMenuContainer nav.collapse.show > ul > li > ul{
    position:relative;
    width: 100%;
    display: block;
    opacity: 1;
    visibility: visible;
   }
   .fMenuContainer nav.collapse.show > ul.fMenu > li > ul li{
    margin: 0;
    text-align: right;
   }
   .fMenuContainer nav.collapse.show > ul > li > ul:before,
   .fMenuContainer nav.collapse.show > ul > li > ul:after{
    right: 1rem;
    left: unset;
   }
   .fMenuContainer nav.collapse.show > ul > li > ul:before{
    right: 1.5rem;
   }
   .fMenuContainer nav.collapse.show ul.fMenu li.fButton a .menu-item-text {
    padding: unset;
    background: unset;
       border:unset;
    font-weight:unset;
    
   }
   .fMenuContainer nav.collapse.show ul.fMenu li.fButton a:hover .menu-item-text {
    background: unset;
       color: unset;
   }
   .fMenuContainer nav.collapse.show ul.fMenu li a::before{
       display:none;
   }



   .button {
    color: #A18978;
    padding: 5px 15px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 150px;
    height: 40px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 470px;
    left: 960px;
    overflow: hidden;
    border: 1px solid #7D5335;
  }

  .button2 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 47px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 1130px;
    overflow: hidden;
  }
  .button3 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 47px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 1197px;
    overflow: hidden;
  }
  .button4 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 47px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 1264px;
    overflow: hidden;
  }
  .button5 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 47px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 1331px;
    overflow: hidden;
  }
  .button6 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 47px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 1398px;
    overflow: hidden;
  }

  .button7 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 110px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 670px;
    left: 1130px;
    overflow: hidden;
  }

  .button8 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 110px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 670px;
    left: 1270px;
    overflow: hidden;
  }
  .button9 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 110px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 670px;
    left: 1410px;
    overflow: hidden;
  }

  .button10 {
    color: #7D5335;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 380px;
    height: 60px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 790px;
    left: 960px;
    overflow: hidden;
  }

  .button11 {
    color: white;
    padding: 5px 5px;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 380px;
    height: 60px;
    background: #7D5335;
    opacity: 1;
    position: absolute;
    top: 790px;
    left: 1380px;
    overflow: hidden;
  }


  .button:hover {
    background-color: rgba(212,186,169,1);
    color:#000;

  }

  

