body {
    font-size: 14px;
  }
  .v70_67 {
    width: 100%;
    height: 100%;
    background: rgba(246,242,238,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v72_554 {
    width: 385px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 793px;
    left: 100px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v72_555 {
    width: 385px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 793px;
    left: 545px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v72_556 {
    width: 383px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 793px;
    left: 991px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    letter-spacing: 2px;
  }
  .v72_568 {
    width: 383px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 793px;
    left: 1434px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v72_564 {
    width: 273px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 850px;
    left: 156px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v72_565 {
    width: 273px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 850px;
    left: 601px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v72_566 {
    width: 273px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 850px;
    left: 1046px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v72_567 {
    width: 273px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 850px;
    left: 1491px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v102_424 {
    width: 352px;
    height: 350px;
    background: url(../IMGS/Mens\ Finery\ Accessories\ 3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 370px;
    left: 117px;
    overflow: hidden;

  }
  .v103_300 {
    width: 273px;
    height: 277px;
    background: url(../IMGS/Mens\ Finery\ Accessories\ 2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 421px;
    left: 1489px;
    overflow: hidden;
  }
  .v103_301 {
    width: 175px;
    height: 290px;
    background: url(../IMGS/Mens\ Finery\ Accessories\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 408px;
    left: 1096px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v102_764 {
    width: 138px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 38px;
    left: 1622px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v357_3237 {
    width: 100%;
    height: 99px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 165px;
    overflow: hidden;
  }

  .v357_3239 {
    width: 109px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 435px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v357_3240 {
    width: 240px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 576px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v357_3241 {
    width: 138px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 1046px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v357_3242 {
    width: 138px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 1459px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v357_3243 {
    width: 170px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 830px;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v357_3244 {
    width: 184px;
    height: 83px;
    background: url(../IMGS/Logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .v116_580 {
    width: 135px;
    height: 337px;
    background: url(../IMGS/Mens\ Finery\ Accessories\ 4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 391px;
    left: 670px;
    overflow: hidden;
  }
  
  .v274_8123 {
    width: 496px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 158px;
    left: 717px;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  *{
    --webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html{
    font-size:16px;
  }
  body{
    background: rgba(246,242,238,1);
    font-size:1rem;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* Header */
  .region-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    
  }
  .fHeader {
    width: 100%;
    /* padding: 10px 80px 0; */
  }
  
  .fLogo {
    text-align: center;
    padding-top: 30px;
  }
  .fLogo img {
    max-width: 100%;
    max-height: 60px;
  }
  .fMenuContainer {
    border-bottom: 1px solid #60381E;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  @media (max-width:720px) {
    .fMenuContainer {
        border-bottom: none;
        height: auto;
    }
  }
  .fMenuContainer nav ul.fMenu{
    justify-content: center;
    
  }
  nav ul.fMenu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style:none;
  }
  .fMenu2 nav ul.fMenu{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .fMenu > li > a {
    font-size: 1.2rem;
    margin: 0 40px;
    position: relative !important;
    text-transform: none;
    background: #ffffff00;
    line-height: 1.2em;
    color: #000;
    text-decoration: none;
  }
  /* Toggle Menu */
  .fMenuContainer .navbar-toggle {
    display: block !important;
    padding: 9px 10px;
    background: none;
    position: relative;
    width: fit-content;
   }
   .fMenuContainer .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #000;
   }
   .fMenuContainer .navbar-toggle .icon-bar:not(:first-child){
    margin-top:4px;
   }
   .fMenuContainer .fModuleContent,
   .fMenuContainer .navbar-toggle-container{
    height:100%;
    text-align: -webkit-right;
   }
   .fMenuContainer nav.collapse.show {
    display: block !important;
    position: fixed;
    left:0;
    right:0;
    z-index:99;
    height: 100%;
    margin-left: 30px;
    /* padding-right: 20px; */
    /* top: 99px; */
    transition: 0.3s ease-in-out;
   }
   .fMenuContainer nav.collapse.show ul.fMenu{
    background:var(--brand-color-3);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    padding-right: 20px;
    opacity: 1;
   }
   .fMenuContainer nav.collapse.show ul.fMenu a{
    text-align: right;
    color:var(--brand-color-1-text);
    display: block;
   }
   .fMenuContainer nav.collapse.show ul.fMenu li{
    margin:8px 0;
    text-align: right;
   }
   .fMenuContainer nav.collapse.show > ul > li > ul{
    position:relative;
    width: 100%;
    display: block;
    opacity: 1;
    visibility: visible;
   }
   .fMenuContainer nav.collapse.show > ul.fMenu > li > ul li{
    margin: 0;
    text-align: right;
   }
   .fMenuContainer nav.collapse.show > ul > li > ul:before,
   .fMenuContainer nav.collapse.show > ul > li > ul:after{
    right: 1rem;
    left: unset;
   }
   .fMenuContainer nav.collapse.show > ul > li > ul:before{
    right: 1.5rem;
   }
   .fMenuContainer nav.collapse.show ul.fMenu li.fButton a .menu-item-text {
    padding: unset;
    background: unset;
       border:unset;
    font-weight:unset;
    
   }
   .fMenuContainer nav.collapse.show ul.fMenu li.fButton a:hover .menu-item-text {
    background: unset;
       color: unset;
   }
   .fMenuContainer nav.collapse.show ul.fMenu li a::before{
       display:none;
   }

